<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--> <!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]--> <!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]--> <!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" > <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Heap</title>
    <meta name="description" content="A tiny blog engine">
    <meta name="author" content="James Harton, Sociable Ltd. <james@sociable.co.nz>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>">
    <link rel="apple-touch-icon" href="<%= asset_path('apple-touch-icon.png') %>">
    <%= stylesheet_link_tag 'application' %>
    <!--[if lt IE 9]>
       <%= javascript_include_tag 'html5' %>
    <![endif]-->
    <%= csrf_meta_tags %>
    <% if signed_in? %>
      <script type='text/javascript'>
        window.currentUserAttributes = <%= current_user.serialize_to_json.html_safe %>;
      </script>
    <% end %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
